extends layout

block content
  h1 Encuentra tu tren ahora! Hola pepe!
  p Selecciona el tren para ver su estado.
  #wrapper
    #trainList
      h2 Trenes
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Select a train to view its current schedule.
